@model LaywApplication.Configuration.ChartInfo
@{
	string divId = Model.Title.Replace(" ", "-");
}

<div class="demo-section k-content wide text-center">
    <div id="grid-current-@divId"></div>

    <div id="chart-@divId" class="resize"></div>

    <div class="demo-section k-content">
        <input id="beginDate-@divId" title="datepicker" />

        <ul id="period-@divId">
            <li>1w</li>
            <li>1m</li>
        </ul>
    </div>
</div>

<script>
	var period = "1w";
	var date = "@DateTime.Now.ToShortDateString().Replace('/','-')";
	var url = "@Url.Content("~/dashboard/patients/" + ViewData["patientId"] + Model.Controller)";
	var urlGoal = "@Url.Content("~/dashboard/patients/" + ViewData["patientId"] + Model.ControllerGoal)";

	$("#tab-item-goals").click(function () {
		createLineChart(url, "@divId", "@Model.Title", date, period, "@Model.LegendTitle[0]", @Model.AxisXInterval)

		var dataSource = createGridGoalsDataSource(urlGoal, 1);
		var columns = [];
		columns.push({ "field": "goal", "title": "Today @Model.Title" });
		columns.push({ "command": "edit", "title": "Set today goal", "width": "50px" });

		createGrid("current-@divId", false, "inline", dataSource, JSON.stringify(columns));
	});

    $("#period-@divId").kendoButtonGroup({
        select: function (e) {
			period = $("#period-@divId").children().eq(e.indices).text();
			$("#tab-item-goals").trigger("click");
        },
        index: 0
    });

	$("#beginDate-@divId").kendoDatePicker({
		format: "dd-MM-yyyy",
		value: date,
		change: function () {
			date = $("#beginDate-@divId").val();
			$("#tab-item-goals").trigger("click");
		}
	});
</script>

<style>
    #grid-current-@divId table {
        background-color: rgba(238,242,250,0.9);
    }

    #grid-current-@divId td {
        color: #404040;
    }

    #grid-training tbody .k-button {
        border-radius: 15px;
    }

    #grid-current-@divId .k-filter-row th,
    #grid-current-@divId .k-grid-header th.k-header {
        text-align: center;
        color: white;
        font-weight: bold;
        background-color: transparent;
    }

    #grid-current-@divId table > thead > tr {
        background-color: #007acc;
    }
</style>