@model Activity
@{ 
	var index = ViewData["index"];
}

<div class="row row-padding-top header-activity">
	<div class="col-sm-12 text-center">
		<h2>@Model.ActivityName</h2>
		<h4>
			<i class="fas fa-flag-checkered"></i>
			&nbsp;&nbsp;@Model.HeartBeats.First().HeartRateTime&nbsp;&nbsp;-&nbsp;&nbsp;
			<i class="fas fa-stopwatch"></i>
			&nbsp;&nbsp;@Model.HeartBeats.Last().HeartRateTime
		</h4>
	</div>
</div>

<div id="counter-activity-@index" class="row row-padding-top counter-activity">
	<div class="col-sm-3 no-space">
		<i class="fas fa-fire fa-2x"></i>
		<h2 class="timer count-title count-number counter-value" data-count="@Model.Calories">0</h2>
		<p class="count-text">Calories</p>
	</div>
	<div class="col-sm-3 no-space">
		<i class="fas fa-heartbeat fa-2x"></i>
		<h2 class="timer count-title count-number counter-value" data-count="@Model.AverageHeartRate">0</h2>
		<p class="count-text">Average heart rate</p>
	</div>
	<div class="col-sm-3 no-space">
		<i class="fas fa-shoe-prints fa-2x"></i>
		<h2 class="timer count-title count-number counter-value" data-count="@Model.Steps">0</h2>
		<p class="count-text">Steps</p>
	</div>
	<div class="col-sm-3 no-space">
		<i class="fas fa-clock-o fa-2x"></i>
		<h2 class="timer count-title count-number counter-value" data-count="@((int)TimeSpan.FromMilliseconds(Model.Duration).TotalMinutes)">0</h2>
		<p class="count-text">Duration (minutes)</p>
	</div>
</div>

<div class="box box-default">
	@{ Html.RenderPartial("ChartHeader", "Heartbeats History"); }
	<div class="box-body">
		<div id="chart-@index"></div>
	</div>
</div>

<div class="row">
	<div class="col-sm-6 col-sm-offset-3 no-space">
		<div class="box box-default">
			@{ Html.RenderPartial("ChartHeader", "Heartrate Zones"); }
			<div class="box-body">
				<div id="pie-chart-@index"></div>
			</div>
		</div>
	</div>
</div>

<script>
$(document).ready(function () {
	var down = @ViewBag.AerobicFunction.DownLimit;
	var up = @ViewBag.AerobicFunction.UpLimit;
	this["stepX_@index"] = @(Model.HeartBeats.Count/40 + 1);

	createHeartBeatChart("@index", '@Json.Serialize(Model.HeartBeats)', down, up, this["stepX_@index"]);
	createPieChart("@index", '@Json.Serialize(Model.HeartRateZonesList)');
});
</script>
