@model LaywApplication.Configuration.ChartPatientPageInfo
@{
	string divId = Model.Title.Replace(" ", "-");
}

<div class="box box-default">
	@{ Html.RenderPartial("ChartHeader", Model.Title); }
	<div class="box-body">
		<div id="chart-@divId"></div>

		<div class="date-selector">
			<input id="beginDate-@divId" title="Chose a day" />

			<ul id="period-@divId" title="Chose a period">
				<li>Week</li>
				<li>Month</li>
			</ul>
		</div>
	</div>
</div>

<script>
	$(document).ready(function () {
		$("#tab-item-goals").click(function (e) {
			var period = ($("#period-@divId > .k-state-active").text() == "Week") ? "1w" : "1m";
			this["url_@divId"] = "@Url.Content("~/dashboard/patients/" + ViewData["patientId"] + Model.Controller)";
			createGoalStatisticsLineChart(this["url_@divId"], "@divId", $("#beginDate-@divId").val(), period, "@Model.LegendTitle[0]", @Model.AxisXInterval);
		});

		$("#period-@divId").kendoButtonGroup({
			select: function () {
				var period = ($("#period-@divId > .k-state-active").text() == "Week") ? "1w" : "1m";
				var url = "@Url.Content("~/dashboard/patients/" + ViewData["patientId"] + Model.Controller)";
				createGoalStatisticsLineChart(url, "@divId", $("#beginDate-@divId").val(), period, "@Model.LegendTitle[0]", @Model.AxisXInterval);
			},
			index: 0
		});

		$("#beginDate-@divId").kendoDatePicker({
			format: "dd-MM-yyyy",
			value: "@DateTime.Now.ToShortDateString().Replace('/', '-')",
			change: function () {
				var period = ($("#period-@divId > .k-state-active").text() == "Week") ? "1w" : "1m";
				var url = "@Url.Content("~/dashboard/patients/" + ViewData["patientId"] + Model.Controller)";
				createGoalStatisticsLineChart(url, "@divId", $("#beginDate-@divId").val(), period, "@Model.LegendTitle[0]", @Model.AxisXInterval);
			}
		});
	});
</script>
