@model Tuple<string, string, string>

@{ 
    var title = Model.Item1;
    var divId = Model.Item3;
    var lastUrl = Model.Item2;
}

<div class="box box-default text-center">
	<div class="box-header with-border">
		<h3 class="box-title" style="font-weight: 700">@title</h3>
		<div class="box-tools pull-right">
			<button type="button" class="btn btn-box-tool" data-widget="collapse">
				<i class="fa fa-minus"></i>
			</button>
		</div>
	</div>
	<div class="box-body">
		<div class="row">
			<div class="col-sm-12">
				<div id="chart-@divId"></div>
			</div>
		</div>
	
		<div class="row">
			<div class="col-sm-12">
				<div id="window-@divId">
					<div id="grid-@divId-achieved" class="col-sm-6 no-space"></div>
					<div id="grid-@divId-notachieved" class="col-sm-6 no-space"></div>
				</div>
				<span id="undo-@divId" class="k-button hide-on-narrow">Click here for more details</span>
			</div>
		</div>
	</div>
</div>

<style>
    #window-@divId .k-grid-content {
        text-align: center;
    }
    #grid-@divId-achieved .k-grid-content tr {
        background-color: #e6ffe6;
    }
    #grid-@divId-achieved .k-grid-content .k-alt {
        background-color: #f4fff4;
    }
    #grid-@divId-notachieved .k-grid-content tr {
        background-color: #ffe6e6;
    }
    #grid-@divId-notachieved .k-grid-content .k-alt {
        background-color: #fff4f4;
    }
    #window-@divId .k-link {
        font-weight: 700;
        text-align: center;
        margin-right: 0;
        padding-right: 0;
    }
    #window-@divId .k-grid-filter {
        position: absolute;
        right: 0;
        top: 4px;
        margin-right: 0.5px;
    }
    #grid-@divId-achieved .k-link {
        color: green;
    }
    #grid-@divId-notachieved .k-link {
        color: red;
    }
    #undo-@divId {
        border-color: #b3d9ff;
        border-radius: 15px;
        background-color: transparent;
        padding: 5px 20px;
        margin: 5px;
        box-shadow: 0 6px 6px rgba(0,0,0,.2), 0 2px 3px rgba(0,0,0,.05);
    }

    .no-space{
        padding:0;
        border:none;
    }
</style>

<script>
	function createDashboard() {
		var baseUrl = "@Url.Content("~/dashboard/" + lastUrl)";
        createDonutChart(baseUrl + "/summary", "@divId");
		createGrid(baseUrl + "/achieved", "@divId-achieved", "Achieved");
		createGrid(baseUrl + "/notachieved", "@divId-notachieved", "Not Achieved");
        createWindow("@divId", "@title");
	}
    
    $(document).ready(createDashboard);
    $(document).bind("kendo:skinChange", createDashboard);

    $(window).bind("resize", function () {
        $("#chart-@divId").data("kendoChart").refresh();
    });
</script>