@model Tuple<string, string, string, string, int, Patient>
@{
	string url = Url.Content("~/dashboard/patients/" + Model.Item6.Id + "/" + Model.Item3);
	string divId = Model.Item1;
	string title = Model.Item2;
	string dataTitle = Model.Item4;
	int chartInterval = Model.Item5;
}

<div class="demo-section k-content wide text-center">
    <div id="chart-@divId" class="resize"></div>

    <div class="demo-section k-content">
        <input id="beginDate-@divId" title="datepicker" />

        <ul id="period-@divId">
            <li>1w</li>
            <li>1m</li>
        </ul>
    </div>
</div>

<script>
    var period = "1w";
    $(document).ready(createLineChart("@url", "@divId", "@title", $("#beginDate-@divId").val() , period, "@dataTitle", @chartInterval));
    $(document).bind("kendo:skinChange", createLineChart("@url", "@divId", "@title", $("#beginDate-@divId").val(), period, "@dataTitle", @chartInterval));

    $("#period-@divId").kendoButtonGroup({
        select: function (e) {
            period = $("#period-@divId").children().eq(e.indices).text();
            $(document).ready(createLineChart("@url", "@divId", "@title", $("#beginDate-@divId").val(), period, "@dataTitle", @chartInterval));
        },
        index: 0
    });

    $("#beginDate-@divId").kendoDatePicker({
        format: "dd-MM-yyyy",
        value: "@DateTime.Now.ToShortDateString().Replace('/','-')",
        change: function () {createLineChart("@url", "@divId", "@title", $("#beginDate-@divId").val(), period, "@dataTitle", @chartInterval)}
    });
</script>