@model Doctor

<div class="navbar-custom-menu">
	<ul class="nav navbar-nav">
		<!-- Notifications Menu -->
		<li class="dropdown notifications-menu">
			<!-- Menu toggle button -->
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				<i class="fa fa-bell"></i>
				<span id="notifications-number" class="label label-warning"></span> 
			</a>
			<ul id="notification" class="dropdown-menu">
				<li class="header"></li>
				<li class="body">
					<!-- Inner Menu: contains the notifications -->
					<ul class="menu">
					</ul>
				</li>
				<li class="footer text-center">Clear</li>
			</ul>
		</li>
		<!-- User Account Menu -->
		<li class="dropdown user user-menu">
			<!-- Menu Toggle Button -->
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				<!-- The user image in the navbar-->
				<img src="@Model.Image" class="user-image" alt="User Image">
				<!-- hidden-xs hides the username on small devices so only the image appears. -->
				<span class="hidden-xs">@Model.Name</span>
			</a>
			<ul class="dropdown-menu">
				<!-- The user image in the menu -->
				<li class="user-header">
					<img src="@Model.Image" class="img-circle" alt="User Image">
					<p>
						@Model.Name
						<small>@Model.Email</small>
					</p>
				</li>
				<!-- Menu Footer-->
				<li class="user-footer">
					<div class="text-center">
						<a href="/signout?doctorEmail=@Model.Email&returnUrl=%2F" id="btn-sign-out" class="k-button">Sign out</a>
					</div>
				</li>
			</ul>
		</li>
	</ul>
</div>

<script src="~/lib/signalr/signalr.js"></script>
<script type="text/javascript">
	"use strict";
	var numberSpan = $("#notifications-number");
	var header = $("#notification > .header");
	var body = $("#notification > .body > .menu");

	var connection = new signalR.HubConnectionBuilder().withUrl("/mqttHub").build();

	connection.on("@Model.Email/weight", function (patientName, patientId) {
		var text = patientName + " has reached the weight goal";
		var body = "<li><a href='/dashboard/patients/" + patientId + "' title='" + text + "'>" +
			"<i class='fa fa-lg fa-balance-scale text-yellow text-center'></i>" + text + "</a></li>";
		setNotification((parseInt(sessionStorage.getItem("notifications-number")) + 1).toString(),
			body + sessionStorage.getItem("notifications-body"))
	});

	connection.on("@Model.Email/steps", function (patientName, patientId) {
		var text = patientName + " has reached the steps goal";
		var body  = "<li><a href='/dashboard/patients/" + patientId + "' title='" + text + "'>" +
			"<i class='fa fa-lg fa-shoe-prints text-yellow text-center'></i>" + text + "</a></li>";
		setNotification((parseInt(sessionStorage.getItem("notifications-number")) + 1).toString(),
			body + sessionStorage.getItem("notifications-body"))
	});

	connection.on("@Model.Email/calories", function (patientName, patientId) {
		var text = patientName + " has reached the calories out goal";
		var body = "<li><a href='/dashboard/patients/" + patientId + "' title='" + text + "'>" +
			"<i class='fa fa-lg fa-fire text-yellow text-center'></i>" + text + "</a></li>";
		setNotification((parseInt(sessionStorage.getItem("notifications-number")) + 1).toString(),
			body + sessionStorage.getItem("notifications-body"))
	});

	connection.start({ transport: ['longPolling', 'webSockets'] });

	if (sessionStorage.getItem("notifications-number") && sessionStorage.getItem("notifications-number") != "0") 
		setNotification(sessionStorage.getItem("notifications-number"), sessionStorage.getItem("notifications-body"));
	else
		setNotification("", "");

	function setNotification(number, bodyText) {
		if (number == "") {
			sessionStorage.setItem("notifications-number", "0");
			sessionStorage.setItem("notifications-body", "");

			header.html("You have 0 notifications");
			body.html("");
		}
		else {
			sessionStorage.setItem("notifications-number", number);
			sessionStorage.setItem("notifications-body", bodyText);

			header.html("You have " + number + " notifications");
			body.html(bodyText);
		}

		numberSpan.html(number);
	}

	$("#notification > .footer").click(function () {
		setNotification("", "");
	})
</script>

<style>
	#notification {
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}
	#notification .header {
		padding: 10px 15px;
		font-weight: 800;
		background-color: inherit;
		font-style: italic;
	}
	#notification .body i {
		margin-right: 15px;
		font-size: 1.2em;
	}
	#notification .footer {
		font-weight: 700;
		margin: 10px;
		cursor: pointer;
	}
    #btn-sign-out {
        border-radius: 10px;
    }
</style>