@model Patient

@{
    <h2>@Model.Age</h2>
    <h2>@Model.Country</h2>
    <h2>@Model.DateOfBirth</h2>
    <h2>@Model.Gender</h2>
    <h2>@Model.Height</h2>
    <h2>@Model.StrideLengthRunning</h2>
    <h2>@Model.StrideLengthWalking</h2>
}


