@model Patient
@using System;
@using System.Collections.Generic;
@using LaywApplication.Controllers.Utils;
@using LaywApplication.Models;
@using Newtonsoft.Json.Linq;

<div class="container container-inner">
    <div class="row">
        <div class="col-sm-2 no-space">
            <h2 class="personal-title">Name</h2>
            <i class="fas fa-male fa-2x"></i>
            <h2 class="personal-data">@Model.Name</h2>
        </div>
        <div class="col-sm-2 no-space">
            <h2 class="personal-title">Birthday</h2>
            <i class="fas fa-calendar fa-2x"></i>
            <h2 class="personal-data">@Model.DateOfBirth.ToShortDateString()</h2>
        </div>
        <div class="col-sm-2 no-space">
            <h2 class="personal-title">Age</h2>
            <i class="fas fa-clock-o fa-2x"></i>
            <h2 class="personal-data">@Model.Age</h2>
            <p class="count-text">years old</p>
        </div>
        <div class="col-sm-2 no-space">
            <h2 class="personal-title">Gender</h2>
            @{
                if (Model.Gender == Gender.FEMALE)
                {
                    <i class="fas fa-venus fa-2x"></i>
                }
                else
                {
                    <i class="fas fa-mars fa-2x"></i>
                }
            }
            <h2 class="personal-data">@Model.Gender</h2>
        </div>
        <div class="col-sm-2 no-space">
            <h2 class="personal-title">Country</h2>
            <i class="fas fa-map fa-2x"></i>
            <h2 class="personal-data">@Model.Country</h2>
        </div>
        <div class="col-sm-2 no-space">
            <h2 class="personal-title">Height</h2>
            <i class="fas fa-angle-up fa-2x"></i>
            <h2 class="personal-data">@Model.Height</h2>
            <p class="count-text">cm</p>
        </div>
        <!--
    <div class="col-sm-1 no-space">
        <h2 class="personal-title">Steps</h2>
        <i class="fas fa-shoe-prints fa-2x"></i>
        <h2 class="personal-data">@Model.AverageDailySteps</h2>
        <p class="count-text">Per day</p>
    </div>
    <div class="col-sm-1 no-space">
        <h2 class="personal-title">Stride</h2>
        <i class="fas fa-shoe-prints fa-2x"></i>
        <h2 class="personal-data">@Model.StrideLengthRunning</h2>
        <p class="count-text">cm by running</p>
    </div>
    <div class="col-sm-1 no-space">
        <h2 class="personal-title">Stride</h2>
        <i class="fas fa-shoe-prints fa-2x"></i>
        <h2 class="personal-data">@Model.StrideLengthWalking</h2>
        <p class="count-text">cm by walking</p>
    </div>-->
    </div>

@{
    JObject json = await APIUtils.GetAsync("https://localhost:44333/dashboard/patients/" + Model.Id + "/personal-data?date=" + "23-06-2018"/*DateTime.Now.ToShortDateString()*/ + "&period=1m");
    PatientPersonalData data = json.GetObject<PatientPersonalData>();
}

<div id="counter-personal-data-@Model.Name">
    <div class="row">
        <div class="col-sm-5 col-sm-offset-1 no-space">
            <h2 class="personal-weight-title text-center">Yesterday weight</h2>
            <h2 class="personal-weight-data personal-data" data-count="@data.LastTwoWeights[1].Weight">0</h2>
            <p class="count-text">kg</p>
        </div>
        <div class="col-sm-5 no-space">
            <h2 class="personal-weight-title text-center">Today weight</h2>
            <h2 class="personal-weight-data personal-data" data-count="@data.LastTwoWeights[0].Weight">0</h2>
            <p class="count-text">kg</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-sm-push-4 no-space">
            @{
                var percent = Math.Round(((float)data.LastTwoWeights[0].Weight - (float)data.LastTwoWeights[1].Weight) * 100f / (float)data.LastTwoWeights[1].Weight, 2);
                if (percent < 0)
                {
                    <h2 class="percent" style="color:green">@(percent)%</h2>
                }
                else if (percent > 0)
                {
                    <h2 class="percent" style="color:green">+@(percent)%</h2>
                }
                else
                {
                    <h2 class="percent" style="color:blue">@(percent)%</h2>
                }
            }
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4 no-space">
            <h2 class="personal-title">Total steps</h2>
            <i class="fas fa-shoe-prints fa-2x"></i>
            <h2 class="personal-data" data-count="@data.TotalSteps">0</h2>
            <p class="count-text">total steps/current month</p>
        </div>
        <div class="col-sm-4 no-space">
            <h2 class="personal-title">Total calories</h2>
            <i class="fas fa-fire fa-2x"></i>
            <h2 class="personal-data" data-count="@data.TotalCalories">0</h2>
            <p class="count-text">total calories/current month</p>
        </div>
        <div class="col-sm-4 no-space">
            <h2 class="personal-title">Floors</h2>
            <i class="fas fa-home fa-2x"></i>
            <h2 class="personal-data" data-count="@(Math.Round(data.AverageFloors, 0))">0</h2>
            <p class="count-text">average floors/current month</p>
        </div>
    </div>
</div>
    </div>

<style>
    @@media (min-width: 1200px) {
        .container-inner {
            width: 1000px !important;
        }
    }

    .no-space {
        padding: 0px;
        border: none;
    }

    .row {
        padding-top: 20px;
        margin: 0px;
    }

    .personal-title {
        font-size: 20px;
        font-weight: bold;
        color: #4ad1e5;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
    }

    .personal-weight-title {
        font-size: 40px;
        font-weight: bold;
        color: #4ad1e5;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
    }

    .percent {
        font-size: 40px;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 0;
        text-align: center;
    }
    .personal-data {
        font-size: 20px;
        font-weight: normal;
        margin-top: 10px;
        margin-bottom: 0;
        text-align: center;
    }

    .personal-weight-data {
        font-size: 35px;
        font-weight: normal;
        margin-top: 10px;
        margin-bottom: 0;
        text-align: center;
    }

    .counter-text {
        font-size: 13px;
        font-weight: normal;
        margin-top: 10px;
        margin-bottom: 0;
        text-align: center;
    }

    .fa-2x {
        margin: 0 auto;
        float: none;
        display: table;
        color: #4ad1e5;
    }
</style>

