@model Patient
@using System;
@using LaywApplication.Controllers.Utils;
@using LaywApplication.Models;
@using Newtonsoft.Json.Linq;
@using System.Globalization;

@{
	JObject json = await APIUtils.GetAsync("https://localhost:44333/dashboard/patients/" + Model.Id + "/personal-data?date=" + "23-06-2018"/*DateTime.Now.ToShortDateString()*/ + "&period=1m");
	PatientPersonalData dataMonth = json.GetObject<PatientPersonalData>();
	json = await APIUtils.GetAsync("https://localhost:44333/dashboard/patients/" + Model.Id + "/personal-data?date=" + "23-06-2018"/*DateTime.Now.ToShortDateString()*/ + "&period=1w");
	PatientPersonalData dataWeek = json.GetObject<PatientPersonalData>(); //todo controllare che sia null, se null non è ancora settato per cui comportarsi di conseguenza

	string country = new RegionInfo(Model.Country).EnglishName;
}

<div class="row" style="margin:0;">
	<div id="patient-info-card" class="col-sm-4">
		<div class="box">
			@if (Model.Gender == Gender.MALE)
			{
				<div class="img" style="background-color:#0080FF;">
					<i class="fa fa-mars fa-5x"></i>
				</div>
			}
			else
			{
				<div class="img" style="background-color:#FF40A0;">
					<i class="fa fa-venus fa-5x"></i>
				</div>
			}
			<h2>
				@Model.Name<br />
				<span>@Model.Age years old&nbsp;&nbsp;-&nbsp;&nbsp;@Model.DateOfBirth.ToShortDateString()</span><br />
				<span>@country</span>
			</h2>
			<div class="row" style="padding-top:0;">
				<div class="col-sm-4 info no-space">
					<h2 class="personal-title">Stride lenght Running</h2>
					<i class="fas fa-walking fa-2x"></i>
					<p class="personal-data">
						@Model.StrideLengthRunning<br />
						<span class="unit-measure">cm</span>
					</p>
				</div>
				<div class="col-sm-4 info no-space">
					<h2 class="personal-title">Height</h2>
					<i class="fas fa-ruler fa-2x" style="margin-top:30px;"></i>
					<p class="personal-data">
						@Model.StrideLengthRunning<br />
						<span class="unit-measure">cm</span>
					</p>
				</div>
				<div class="col-sm-4 info no-space">
					<h2 class="personal-title">Stride lenght Walking</h2>
					<i class="fas fa-walking fa-2x"></i>
					<p class="personal-data">
						@Model.StrideLengthWalking<br />
						<span class="unit-measure">cm</span>
					</p>
				</div>
			</div>
		</div>
	</div>
	<div id="patient-data-card" class="col-sm-7 col-sm-offset-1">
		<div class="box">
			<h2>Weight</h2>
		</div>
	</div>
</div>
<!--
<div class="container container-inner">
    <div class="row">
        <div class="col-sm-2 no-space">
            <h2 class="personal-title">Height</h2>
            <i class="fas fa-angle-up fa-2x"></i>
            <h2 class="personal-data">@Model.Height</h2>
            <p class="count-text">cm</p>
        </div>
    </div>

    <div id="counter-personal-data-@Model.Name">
        <div class="row">
            <div class="col-sm-5 col-sm-offset-1 no-space">
                <h2 class="personal-weight-title text-center">Yesterday weight</h2>
                <h2 class="personal-weight-data personal-data" data-count="@dataMonth.LastTwoWeights[1].Weight">0</h2>
                <p class="count-text">kg</p>
            </div>
            <div class="col-sm-5 no-space">
                <h2 class="personal-weight-title text-center">Today weight</h2>
                <h2 class="personal-weight-data personal-data" data-count="@dataMonth.LastTwoWeights[0].Weight">0</h2>

                @{
                    var percent = Math.Round(((float)dataMonth.LastTwoWeights[0].Weight - (float)dataMonth.LastTwoWeights[1].Weight) * 100f / (float)dataMonth.LastTwoWeights[1].Weight, 2);
                    if (percent < 0)
                    {
                        <h2 class="percent  " style="color:green">@(percent)%</h2>
                    }
                    else if (percent > 0)
                    {
                        <h2 class="percent" style="color:red">+@(percent)%</h2>
                    }
                    else
                    {
                        <h2 class="percent" style="color:blue">@(percent)%</h2>
                    }
                }

            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 no-space">
                <h2 class="personal-title">Total steps/<span style="color:green">week</span></h2>
                <i class="fas fa-shoe-prints fa-2x"></i>
                <h2 class="personal-data" data-count="@dataWeek.TotalSteps">0</h2>
            </div>
            <div class="col-sm-4 no-space">
                <h2 class="personal-title">Total calories/<span style="color:green">week</span></h2>
                <i class="fas fa-fire fa-2x"></i>
                <h2 class="personal-data" data-count="@dataWeek.TotalCalories">0</h2>
            </div>
            <div class="col-sm-4 no-space">
                <h2 class="personal-title">Floors/<span style="color:green">week</span></h2>
                <i class="fas fa-home fa-2x"></i>
                <h2 class="personal-data" data-count="@(Math.Round(dataWeek.AverageFloors, 0))">0</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 no-space">
                <h2 class="personal-title">Total steps/<span style="color:purple">month</span></h2>
                <i class="fas fa-shoe-prints fa-2x"></i>
                <h2 class="personal-data" data-count="@dataMonth.TotalSteps">0</h2>
            </div>
            <div class="col-sm-4 no-space">
                <h2 class="personal-title">Total calories/<span style="color:purple">month</span></h2>
                <i class="fas fa-fire fa-2x"></i>
                <h2 class="personal-data" data-count="@dataMonth.TotalCalories">0</h2>
            </div>
            <div class="col-sm-4 no-space">
                <h2 class="personal-title">Floors/<span style="color:purple">month</span></h2>
                <i class="fas fa-home fa-2x"></i>
                <h2 class="personal-data" data-count="@(Math.Round(dataMonth.AverageFloors, 0))">0</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 no-space">
                <h2 class="personal-title">Stride lenght Running</h2>
                <i class="fas fa-walking fa-2x"></i>
                <h2 class="personal-data">@Model.StrideLengthRunning</h2>
            </div>
            <div class="col-sm-4 no-space">
                <h2 class="personal-title">Average steps/<span style="color:purple">day</span></h2>
                <i class="fas fa-shoe-prints fa-2x"></i>
                <h2 class="personal-data" data-count="@Model.AverageDailySteps">0</h2>
            </div>
            <div class="col-sm-4 no-space">
                <h2 class="personal-title">Stride lenght Walking</h2>
                <i class="fas fa-walking fa-2x"></i>
                <h2 class="personal-data">@Model.StrideLengthWalking</h2>
            </div>
        </div>

    </div>
</div>
-->

<script>
	$("#tab-item-personal-data").click(function () {
		counter("#counter-personal-data-@(((Patient)ViewBag.CurrentPatient).Name) .personal-data");
	});
</script>

<style>
    .no-space {
        padding: 0px;
        border: none;
    }

    .personal-weight-title {
        font-size: 40px;
        font-weight: bold;
        color: #4ad1e5;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
    }

    .percent {
        font-size: 20px;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 0;
        text-align: center;
    }

    .personal-weight-data {
        font-size: 35px;
        font-weight: normal;
        margin-top: 10px;
        margin-bottom: 0;
        text-align: center;
    }

    .counter-text {
        font-size: 13px;
        font-weight: normal;
        margin-top: 10px;
        margin-bottom: 0;
        text-align: center;
    }


	/*card*/
	#patient-info-card,
	#patient-data-card {
		padding: 0;
		background: #fff;
		box-shadow: 0 20px 50px rgba(0,0,0,.1);
		border-radius: 10px;
		transition: 0.5s;
		color: rgba(8,26,40,1);
	}
	#patient-info-card > .box,
	#patient-data-card > .box {
		text-align: center;
		padding: 5px 25px;
		box-sizing: border-box;
		width: 100%;
		height: 100%;
		border: none;
		margin: 20px 0;
		box-shadow: none;
		background-color: inherit;
	}
	#patient-info-card > .box .img {
		width: 120px;
		height: 120px;
		margin: 0 auto;
		border-radius: 50%;
		overflow: hidden;
	}
	#patient-info-card > .box .img > .fa {
		color: white;
		margin-top: 25px;
	}
	#patient-info-card > .box > h2 {
		font-size: 20px;
		font-weight: 700;
		font-style: italic;
		margin: 20px auto;
	}
	#patient-info-card > .box > h2 > span {
		font-size: 13px;
		line-height: 20px;
		color: rgba(8,26,40,1);
		font-weight: 400;
	}
	#patient-info-card > .box .info > h2 {
		font-size: 14px;
		margin-top: 15px;
		font-weight: 700;
	}
	#patient-info-card > .box .info > .fas {
		margin: 15px auto 0;
		color: #4ad1e5;
	}
	#patient-info-card > .box .info > p {
		font-size: 14px;
		font-weight: 400;
		margin-top: 15px;
		margin-bottom: 0;
		line-height: 13px;
		font-style: italic;
	}
	#patient-info-card > .box .info > p > .unit-measure {
		font-size: 13px;
		font-weight: 400;
	}
</style>

