@model Tuple<string, string, Activity, Patient>

<div class="demo-section k-content wide text-center">
    <div id="chart-@Model.Item1"></div>
</div>

<script>
    var arrayVal = [];
    var arrayTimes = [];
    
    @{
        foreach (HeartBeat hb in Model.Item3.HeartBeats)
        {
            <text>
                arrayVal.push(@hb.Value);
                arrayTimes.push("@hb.HeartRateTime");
            </text>   
        }
    }

    var down = @AerobicFunction.CalculateRange(Model.Item4).Item1;
    var up = @AerobicFunction.CalculateRange(Model.Item4).Item2;

    $(document).ready(createHeartBeatChart("@Model.Item1",
        "\nStart: " + arrayTimes[0] + " - End: " + arrayTimes[arrayTimes.length - 1] + "\nDuration: " + @TimeSpan.FromMilliseconds(Model.Item3.Duration).Hours + " hours, " + @TimeSpan.FromMilliseconds(Model.Item3.Duration).Minutes + " minutes, " + @TimeSpan.FromMilliseconds(Model.Item3.Duration).Hours + " seconds.",
        arrayVal, arrayTimes, down, up));
    $(document).bind("kendo:skinChange", createHeartBeatChart("@Model.Item1",
        "\nStart: " + arrayTimes[0] + " - End: " + arrayTimes[arrayTimes.length - 1] + "\nDuration: " + @TimeSpan.FromMilliseconds(Model.Item3.Duration).Hours + " hours, " + @TimeSpan.FromMilliseconds(Model.Item3.Duration).Minutes + " minutes, " + @TimeSpan.FromMilliseconds(Model.Item3.Duration).Hours + " seconds.",
        arrayVal, arrayTimes, down, up));
</script>