@model Tuple<string, string, string, Patient>
@{
    string url = Url.Content("~/dashboard/patients/" + Model.Item4.Id + "/" + Model.Item3);
    string divId = Model.Item1;
    string title = Model.Item2;
}

<div class="demo-section k-content wide text-center">
    <div id="chart-@Model.Item1" class="chartResize"></div>

    <div class="demo-section k-content">
        <input id="beginDate-@Model.Item1" title="datepicker"/>
        
        <ul id="period-@Model.Item1">
            <li>1w</li>
            <li>1m</li>
        </ul>
    </div>
</div>

<script src="~/js-charts/bar_chart_patient.js" type="text/javascript"></script>

<script>
    var period = "1w";
    $(document).ready(createBarChart("@url", "@divId", "@title", $("beginDate-@Model.Item1").val() , period));
    $(document).bind("kendo:skinChange", createBarChart("@url", "@divId", "@title", $("beginDate-@Model.Item1").val() , period));

    $("#refresh-@Model.Item1").change(function () {
        $(document).ready(createBarChart("@url", "@divId", "@title", $("beginDate-@Model.Item1").val() , period));
    });

    $("#period-@Model.Item1").kendoButtonGroup({
        select: function (e) {
            period = $("#period-@Model.Item1").children().eq(e.indices).text();
            $(document).ready(createBarChart("@url", "@divId", "@title",  $("beginDate-@Model.Item1").val(), period));
        },
        index: 0
    });

    $("#beginDate-@Model.Item1").kendoDatePicker({
        value: "16-07-2018",
        format: "dd-MM-yyyy"
    });
</script>
