@model Tuple<string, string, Activity, Patient>

<div class="demo-section k-content wide text-center">
    <div class="row">
        <div class="col-sm-12">
            <div id="chart-@Model.Item1"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div id="line-chart-@Model.Item1"></div>
        </div>

        <div class="col-sm-6">
            <div id=""></div>
        </div>
    </div>
</div>

<script>
    function patientActivities()
    {
        var down = @AerobicFunction.CalculateRange(Model.Item4).Item1;
        var up = @AerobicFunction.CalculateRange(Model.Item4).Item2;
        
        createHeartBeatChart("@Model.Item1", '@Json.Serialize(Model.Item3.HeartBeats)', down, up);
        createLineZonesChart("@Model.Item1", '@Json.Serialize(Model.Item3.HeartRateZonesList)');
    }

    $(document).ready(patientActivities);
    $(document).bind("kendo:skinChange", patientActivities);
</script>