@model Tuple<string, string, string, Patient>
@{
    string url = Url.Content("~/dashboard/patients/" + Model.Item4.Id + "/" + Model.Item3);
    string divId = Model.Item1;
    string title = Model.Item2;
}

<div class="demo-section k-content wide text-center">
    <div id="chart-@Model.Item1" class="chartResize"></div>

    <div class="demo-section k-content">
        <input id="beginDate-@divId" title="datepicker"/>
        
        <ul id="period-@divId">
            <li>1w</li>
            <li>1m</li>
        </ul>
    </div>
</div>

<script>
    var period = "1w";
    $(document).ready(createBarChart("@url", "@divId", "@title", $("#beginDate-@divId").val() , period, 1000));
    $(document).bind("kendo:skinChange", createBarChart("@url", "@divId", "@title", $("#beginDate-@divId").val(), period, 1000));

    $("#period-@divId").kendoButtonGroup({
        select: function (e) {
            period = $("#period-@divId").children().eq(e.indices).text();
            $(document).ready(createBarChart("@url", "@divId", "@title", $("#beginDate-@divId").val(), period, 1000));
        },
        index: 0
    });

    $("#beginDate-@divId").kendoDatePicker({
        value: "16-07-2018",
        format: "dd-MM-yyyy"
    });
</script>
