@model PatientPersonalData
@using System;
@using LaywApplication.Models;
@using System.Globalization;

@{
	double percent = Model.WeightComparison.GetPercentDifference();
	string country = new RegionInfo(Model.Patient.Country).EnglishName;
}

<div id="personal-data-@Model.Patient.Name" class="row row-padding-top" style="margin:20px 0 0;">
	<div id="patient-info-card" class="col-sm-4 card">
		<div class="box">
			@if (Model.Patient.Gender == Gender.MALE)
			{
				<div class="img" style="background-color:#0080FF;">
					<i class="fa fa-mars fa-5x"></i>
				</div>
			}
			else
			{
				<div class="img" style="background-color:#FF40A0;">
					<i class="fa fa-venus fa-5x"></i>
				</div>
			}
			<h2>
				@Model.Patient.Name<br />
				<span>@Model.Patient.Age years old&nbsp;&nbsp;-&nbsp;&nbsp;@Model.Patient.DateOfBirth.ToShortDateString()</span><br />
				<span>@country</span>
			</h2>
			<div class="row">
				<div class="col-sm-4 info no-space">
					<h2>Stride lenght Running</h2>
					<i class="fas fa-walking fa-2x"></i>
					<p>
						@Model.Patient.StrideLengthRunning<br />
						<span class="unit-measure">cm</span>
					</p>
				</div>
				<div class="col-sm-4 info no-space">
					<h2>Height</h2>
					<i class="fas fa-ruler fa-2x" style="margin-top:30px;"></i>
					<p>
						@Model.Patient.StrideLengthRunning<br />
						<span class="unit-measure">cm</span>
					</p>
				</div>
				<div class="col-sm-4 info no-space">
					<h2>Stride lenght Walking</h2>
					<i class="fas fa-walking fa-2x"></i>
					<p>
						@Model.Patient.StrideLengthWalking<br />
						<span class="unit-measure">cm</span>
					</p>
				</div>
			</div>
		</div>
	</div>
	<div id="patient-weight-card" class="col-sm-7 col-sm-offset-1 card">
		<div class="box">
			<div class="row">
				<div class="col-sm-4 col-sm-offset-1 info no-space">
					<h2>Yesterday</h2>
					<p>
						@Model.WeightComparison.Yesterday.Weight.ToString("0.0")<br />
						<span class="unit-measure">kg</span>
					</p>
				</div>
				<div class="col-sm-2 info">
					<i class="fas fa-weight fa-3x"></i>
					@{
						if (percent < 0)
						{
							<p class="percent" style="color:green">
								-&nbsp;@(Math.Abs(percent))
								<span>%</span><br />
								<i class="fas fa-angle-down fa-1x" style="margin-top:5px;"></i>
							</p>
						}
						else if (percent > 0)
						{
							<p class="percent" style="color:red;">
								<i class="fas fa-angle-up fa-1x" style="margin-bottom:5px;"></i><br />
								+&nbsp;@(percent)
								<span>%</span>
							</p>
						}
						else
						{
							<p class="equal">=</p>
						}
					}
				</div>
				<div class="col-sm-4 info no-space">
					<h2>Today</h2>
					<p>
						@Model.WeightComparison.Today.Weight.ToString("0.0")<br />
						<span class="unit-measure">kg</span>
					</p>
				</div>
			</div>
		</div>
	</div>
	<div id="patient-summary-card" class="col-sm-7 col-sm-offset-1 card">
		<div class="box">
			<div class="row">
				<div class="col-sm-4 info no-space">
					<h2>Total Steps</h2>
					<i class="fas fa-shoe-prints fa-2x"></i>
					<div class="row">
						<div class="col-sm-4 col-sm-offset-2 no-space week-data">
							<p>
								@Model.TotalSteps.Week<br />
								<span class="unit-measure">week</span>
							</p>
						</div>
						<div class="col-sm-4 no-space">
							<p>
								@Model.TotalSteps.Month<br />
								<span class="unit-measure">month</span>
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm-4 info no-space">
					<h2>Average Floors</h2>
					<i class="fas fa-sort fa-2x"></i>
					<div class="row">
						<div class="col-sm-4 col-sm-offset-2 no-space week-data">
							<p>
								@Model.AverageFloors.Week.ToString("0.00")<br />
								<span class="unit-measure">week</span>
							</p>
						</div>
						<div class="col-sm-4 no-space">
							<p>
								@Model.AverageFloors.Month.ToString("0.00")<br />
								<span class="unit-measure">month</span>
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm-4 info no-space">
					<h2>Total Calories Out</h2>
					<i class="fas fa-fire fa-2x"></i>
					<div class="row">
						<div class="col-sm-4 col-sm-offset-2 no-space week-data">
							<p>
								@Model.TotalCalories.Week<br />
								<span class="unit-measure">week</span>
							</p>
						</div>
						<div class="col-sm-4 no-space">
							<p>
								@Model.TotalCalories.Month<br />
								<span class="unit-measure">month</span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<style>
	.card {
		padding: 0;
		background: #fff;
		box-shadow: 0 20px 50px rgba(0,0,0,.1);
		border-radius: 10px;
		transition: 0.5s;
		color: rgba(8,26,40,1);
	}
	.card > .box {
		text-align: center;
		padding: 5px 25px;
		box-sizing: border-box;
		width: 100%;
		height: 100%;
		border: none;
		margin: 20px 0;
		box-shadow: none;
		background-color: inherit;
	}
	.card > .box .row {
		padding-top: 0;
	}
	.card > .box .info > h2 {
		margin-top: 15px;
		font-weight: 700;
	}
	.card > .box .info > .fas {
		color: #4ad1e5;
	}
	.card > .box .info > p {
		font-style: italic;
	}
	#patient-info-card > .box .img {
		width: 120px;
		height: 120px;
		margin: 0 auto;
		border-radius: 50%;
		overflow: hidden;
	}
	#patient-info-card > .box .img > .fa {
		color: white;
		margin-top: 25px;
	}
	#patient-info-card > .box > h2 {
		font-size: 20px;
		font-weight: 700;
		font-style: italic;
		margin: 20px auto;
	}
	#patient-info-card > .box > h2 > span {
		font-size: 13px;
		line-height: 20px;
		color: rgba(8,26,40,1);
		font-weight: 400;
	}
	#patient-info-card > .box .info > .fas {
		margin: 15px auto 0;
	}
	#patient-info-card > .box .info > h2 {
		font-size: 14px;
	}
	#patient-info-card > .box .info > p {
		font-weight: 400;
		font-size: 14px;
		margin-top: 15px;
		margin-bottom: 0;
		line-height: 13px;
	}
	#patient-info-card > .box .info > p > .unit-measure {
		font-size: 13px;
		font-weight: 400;
	}
	#patient-weight-card > .box .info > h2 {
		margin-top: 7px;
		font-style: italic;
	}
	#patient-weight-card > .box .info > p {
		font-weight: 300;
		font-size: 35px;
		margin-top: 35px;
		margin-bottom: 0;
		line-height: 20px;
	}
	#patient-weight-card > .box .info > p > .unit-measure {
		font-size: 15px;
		font-weight: 400;
	}
	#patient-weight-card > .box .info > .percent {
		font-weight: 700;
		font-size: 18px;
		margin-top: 30px;
	}
	#patient-weight-card > .box .info > .percent > span {
		font-size: 13px;
	}
	#patient-weight-card > .box .info > .equal {
		font-weight: 700;
		font-size: 30px;
		margin-top: 36px;
		color: #605ca8;
	}
	#patient-summary-card {
		margin-top: 38px;
	}
	#patient-summary-card > .box .info > h2 {
		font-style: italic;
		margin-bottom: 20px;
		font-size: 23px;
		margin-top:0;
	}
	#patient-summary-card > .box .info .week-data > p {
		border-right-width: 1px;
		border-right-color: rgba(8,26,40,1);
		border-right-style: dashed;
	}
	#patient-summary-card > .box .info p {
		font-weight: 300;
		font-size: 25px;
		margin-top: 30px;
		padding: 5px;
		margin-bottom: 0;
		line-height: 20px;
	}
	#patient-summary-card > .box .info p > .unit-measure {
		font-size: 13px;
		font-weight: 400;
	}
</style>

