@model DoctorsPatients

@{
    Layout = "Layouts/_Admin";
}

<div id="admin-auth">


    @{ await Html.RenderPartialAsync("ButtonHeader"); }

    <div class="row" style="width:100%">
        <div class="col-sm-12">
            <h1>Welcome to your administration page</h1>
        </div>
    </div>
    <div id="patient-manager" class="panel text-center active-panel">
        <div class="row" style="width:100%">
            <div class="col-sm-12">
                <h2>Choose a doctor from the list below:</h2>
                <select id="doctor" style="width: 50%;">
                    <option value="@Model.Doctors[0].Email" selected>@Model.Doctors[0].Name</option>

                    @for (int i = 1; i < Model.Doctors.Count; i++)
                    {
                        <option value="@Model.Doctors[i].Email">@Model.Doctors[i].Name</option>
                    }
                </select>
            </div>
        </div>

        <div class="row" style="width:100%">
            <div class="col-sm-12">
                <h4 style="margin-top:30px;">Manage the patients below of the doctor selected, and then press "Apply"</h4>
                <div id="patients-box" style="width:50%; margin-right:auto; margin-left:auto;"></div>
            </div>
        </div>

        <div class="row" style="width:100%">
            <div class="col-sm-12">
                <button class="k-button" id="post-patients" style="margin-top:20px;">Apply</button>
                <h4 id="response"></h4>
            </div>
        </div>
    </div>

    @{ await Html.RenderPartialAsync("FormChangePassword"); }

    @{ await Html.RenderPartialAsync("FormAddAdmin"); }

</div>

<script>
    var toggleTime = 500;
    var responseTimeout = 5000;

    $(document).ready(function () {
        var patients;
        var url = "@Url.Content("~/dashboard/doctors/")";
        var json = @Html.Raw(Json.Serialize(Model))

        $("#doctor").kendoDropDownList({
            change: onChange
        });

        function onChange() {
            getPatients();
        }

        var d = $("#doctor").data("kendoDropDownList");

        $("#post-patients").click(function () {
            var url = "@Url.Content("~/dashboard/doctors/")";
            var idPatientsSelected = JSON.parse(JSON.stringify(patients.value()));

            var idArray = [];
            for (var i = 0; i < idPatientsSelected.length; i++)
                idArray.push({ id: idPatientsSelected[i] });

            ajaxPut(url + d.value() + "/update", JSON.stringify(idArray), 'json', "application/json", responseTimeout, $("#response"), "Applied succesfully", null);
        });

        function getPatients() {
            var url = "@Url.Content("~/dashboard/doctors/")";
            $.ajax({
                url: url + d.value(),
                type: 'GET',
                dataType: 'json',
                async: true,
                success: function (data) {
                    insertPatients(JSON.parse(JSON.stringify(data)));
                },
                error: function (data) {
                    console.log(data);
                }
            });
        }

        function getAdministrators() {
            var url = "@Url.Content("~/adminauthentication/read")";
            $.ajax({
                url: url,
                type: 'GET',
                dataType: 'json',
                async: true,
                success: function (data) {
                    insertAdmins(data);
                },
                error: function () {
                    return "Error, no admins found";
                }
            });
        }

        function insertPatients(patientsOfSelectedDoctor) {
            $('#patients-box').html('');
            var html = "<select id='patients' multiple='multiple' data-placeholder='Select patients...'>";

            for (var i = 0; i < patientsOfSelectedDoctor.length; i++)
                html = html.concat("<option value=" + parseInt(patientsOfSelectedDoctor[i].id) + " selected>" + patientsOfSelectedDoctor[i].name + "</option>");

            var nopatients = (json.patients.except(patientsOfSelectedDoctor, function (a, b) { return a.id === b.id; }));

            for (var j = 0; j < nopatients.length; j++)
                html = html.concat("<option value=" + parseInt(nopatients[j].id) + ">" + nopatients[j].name + "</option>");

            html = html.concat("</select>");
            $('#patients-box').html(html);
            patients = $("#patients").kendoMultiSelect().data("kendoMultiSelect");
        }

        function insertAdmins(admins)
        {
            $('#admins-box').html('');
            var html = "<ul class='list-group'>";

            for (var i = 0; i < admins.length; i++)
                html = html.concat("<li class='list-group-item'>" + admins[i].email + "</li>");
            
            html = html.concat("</ul>");
            $('#admins-box').html(html);
        }

        $("#btn-change-password").click(function () {
            $("#admin-auth .active-panel").toggle(toggleTime).removeClass("active-panel");
            $("#div-change-password").toggle(toggleTime).addClass("active-panel");
        });

        $("#btn-manage-patients").click(function () {
            $("#admin-auth .active-panel").toggle(toggleTime).removeClass("active-panel");
            $("#patient-manager").toggle(toggleTime).addClass("active-panel");
        });

        $("#btn-add-admins").click(function () {
            $("#admin-auth .active-panel").toggle(toggleTime).removeClass("active-panel");
            $("#div-add-admins").toggle(toggleTime).addClass("active-panel");
        });

        $('#form-change-password').submit(function (event) {
            event.preventDefault();
            ajaxPut(this.action, $(this).serialize(), "html", "application/x-www-form-urlencoded",
                responseTimeout, $("#password-response"), null, null);
        });
        
        $('#form-add-admins').submit(function (event) {
            event.preventDefault();
            ajaxPost(this.action, $(this).serialize(), "html", "application/x-www-form-urlencoded",
                responseTimeout, $("#add-response"), null, getAdministrators);
        });

        $("#seeNewPassword").mousedown(function () {
            $("#newPassword").attr("type","text");
        });

        $("#seeNewPassword").mouseup(function () {
            $("#newPassword").attr("type", "password");
        });

        $("#seeNewPassword").mouseleave(function () {
            $("#newPassword").attr("type", "password");
        });


        getPatients();
        getAdministrators();
    });
    

    function ajaxPost(url, data, dataType, contentType, responseTimeout, divResponse, message, afterFunc) {
        ajaxPutPost("POST", url, data, dataType, contentType, responseTimeout, divResponse, message, afterFunc);
    }

    function ajaxPut(url, data, dataType, contentType, responseTimeout, divResponse, message, afterFunc) {
        ajaxPutPost("PUT", url, data, dataType, contentType, responseTimeout, divResponse, message, afterFunc);
    }

    function ajaxPutPost(type, url, data, dataType, contentType, responseTimeout, divResponse, message, afterFunc) {
        $.ajax({
            type: type,
            url: url,
            data: data,
            dataType: dataType,
            contentType: contentType,
            success: function (response) {
                if (message !== null)
                    response = message;
                divResponse.html(response);
                setTimeout(function () { divResponse.html(""); }, responseTimeout);
                if (afterFunc !== null)
                    afterFunc();
            },
            error: function (error) {
                divResponse.html(error);
                setTimeout(function () { divResponse.html(""); }, responseTimeout);
            }
        });
    }
    
</script>

<style>
    .demo-section label {
        display: block;
        margin: 15px 0 5px 0;
    }

    #get {
        float: right;
        margin: 25px auto 0;
    }
</style>