@model DoctorsPatients

@{
    Layout = "Layouts/_Admin";
}

<div class="row" style="text-align:right; width:100%">
    <div class="col-sm-12">
        <a id="btn-manage-patients" class="k-button">Manage patients</a>
        <a id="btn-change-password" class="k-button">Change password</a>
        <a href="/signout?returnUrl=%2F" class="k-button">Sign out</a>
    </div>
</div>

<div class="row" style="width:100%">
    <div class="col-sm-12">
        <h1>Welcome to your administration page</h1>
    </div>
</div>
<div id="patient-manager" class="panel text-center">
    <div class="row" style="width:100%">
        <div class="col-sm-12">
            <h2>Choose a doctor from the list below:</h2>
            <select id="doctor" style="width: 50%;">
                <option value="@Model.Doctors[0].Email" selected>@Model.Doctors[0].Name</option>

                @for (int i = 1; i < Model.Doctors.Count; i++)
                {
                    <option value="@Model.Doctors[i].Email">@Model.Doctors[i].Name</option>
                }
            </select>
        </div>
    </div>

    <div class="row" style="width:100%">
        <div class="col-sm-12">
            <h4 style="margin-top:30px;">Manage the patients below of the doctor selected, and then press "Apply"</h4>
            <div id="patients-box" style="width:50%; margin-right:auto; margin-left:auto;" ></div>
        </div>
    </div>

    <div class="row" style="width:100%">
        <div class="col-sm-12">
            <button class="k-button" id="post-patients" style="margin-top:20px;">Apply</button>
            <h4 id="response"></h4>
        </div>
    </div>
</div>

<div class="row" style="width:100%">
    <div class="col-sm-6 col-sm-offset-3">
        <div id="div-change-password" class="panel text-center" style="display:none;">
            <form id="form-change-password" action="/AdminAuthentication/@ViewBag.AdminEmail/update">
                <div class="form-group">
                    <label>Change your password</label>
                    <input type="password" class="form-control" name="oldPassword" placeholder="Old password" required/>
                    <input type="password" id="newPassword" class="form-control" name="newPassword" placeholder="New password" required/> 
                    <button class="k-button" type="button" id="seeNewPassword">Press to show your new password</button>
                    <br />
                    <button type="submit" id="btn-change-pass" class="k-button" style="margin-top:20px;">Change</button>
                    <h4 id="password-response"></h4>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    var toggleTime = 500;
    var responseTimeout = 2000;

    $(document).ready(function () {
        var patients;
        var url = "@Url.Content("~/dashboard/doctors/")";
        var json = @Html.Raw(Json.Serialize(Model))

        $("#doctor").kendoDropDownList({
            change: onChange
        });

        function onChange() {
            getPatients();
        }

        var d = $("#doctor").data("kendoDropDownList");

        $("#post-patients").click(function () {
            var url = "@Url.Content("~/dashboard/doctors/")";
            var idPatientsSelected = JSON.parse(JSON.stringify(patients.value()));

            var idArray = [];
            for (var i = 0; i < idPatientsSelected.length; i++)
                idArray.push({ id: idPatientsSelected[i] });

            $.ajax({
                url: url + d.value() + "/update",
                type: 'PUT',
                data: JSON.stringify(idArray),
                dataType: 'json',
                contentType: "application/json",
                success: function (data) {
                    $("#response").html("Applied succesfully");
                    setTimeout(function () { $("#response").html(""); }, responseTimeout);
                },
                error: function (data) {
                    $("#response").html("Error");
                    setTimeout(function () { $("#response").html(""); }, responseTimeout);
                }
            });
        });

        function getPatients() {
            var url = "@Url.Content("~/dashboard/doctors/")";
            $.ajax({
                url: url + d.value(),
                type: 'GET',
                dataType: 'json',
                async: true,
                success: function (data) {
                    insertPatients(JSON.parse(JSON.stringify(data)));
                },
                error: function (data) {
                    console.log(data);
                }
            });
        }

        function insertPatients(patientsOfSelectedDoctor) {
            $('#patients-box').html('');
            var html = "<select id='patients' multiple='multiple' data-placeholder='Select patients...'>";

            for (var i = 0; i < patientsOfSelectedDoctor.length; i++) 
                html = html.concat("<option value=" + parseInt(patientsOfSelectedDoctor[i].id) + " selected>" + patientsOfSelectedDoctor[i].name + "</option>");
            
            var nopatients = (json.patients.except(patientsOfSelectedDoctor, function (a, b) { return a.id === b.id; }));

            for (var j = 0; j < nopatients.length; j++) 
                html = html.concat("<option value=" + parseInt(nopatients[j].id) + ">" + nopatients[j].name + "</option>");
            
            html = html.concat("</select>");
            $('#patients-box').html(html);
            patients = $("#patients").kendoMultiSelect().data("kendoMultiSelect");
        }
        
        $("#btn-change-password").click(function () {
            $("#div-change-password").toggle(toggleTime);
        });

        $("#btn-manage-patients").click(function () {
            $("#patient-manager").toggle(toggleTime);
        });

        $('#form-change-password').submit(function (event) {
            event.preventDefault();
            
            $.ajax({
                type: "PUT",
                url: this.action,
                data: $(this).serialize(),
                dataType: 'html',
                success: function (response) {
                    $("#password-response").html(response);
                    setTimeout(function () { $("#password-response").html(""); }, responseTimeout);
                },
                error: function (error) {
                    $("#password-response").html(error);
                    setTimeout(function () { $("#password-response").html(""); }, responseTimeout);
                }
            });
        });

        $("#seeNewPassword").mousedown(function () {
            $("#newPassword").attr("type","text");
        });

        $("#seeNewPassword").mouseup(function () {
            $("#newPassword").attr("type", "password");
        });

        $("#seeNewPassword").mouseleave(function () {
            $("#newPassword").attr("type", "password");
        });


        getPatients();
    });
</script>

<style>
    .demo-section label {
        display: block;
        margin: 15px 0 5px 0;
    }

    #get {
        float: right;
        margin: 25px auto 0;
    }
</style>